<center>
<h1>Você está sendo redirecionado para:</h1>
<%= @url.original_url %>

<br>
<h2>Aguarde...</h2> 
<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9631341a-92ea-42d3-a4d9-26c5a6744b0f/dehjacs-ac6b71d8-108a-4429-b178-f1dd38d1b5bd.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzk2MzEzNDFhLTkyZWEtNDJkMy1hNGQ5LTI2YzVhNjc0NGIwZlwvZGVoamFjcy1hYzZiNzFkOC0xMDhhLTQ0MjktYjE3OC1mMWRkMzhkMWI1YmQuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ktNnffq5ODR2Z3Vilm4olyqe55zCgRxwQ-askCeu4x4" style="width: 30px">

<meta http-equiv="refresh" content="4;URL='<%= @url.original_url %>'"/>
</center>